.header {
  width: 100%;
  position: absolute;
  font-family: "charter-itc";
  color: #945273;
  /* width: inherit; */
  /* border-bottom: solid 1px #eeeeee; */
  z-index: 2;
  /* background-color: #fff; */
  top: 0;
  position: sticky;
  background-color: #fff;
}

.line {
  position: relative;
  border-bottom: solid 1px #945273;
  padding: 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  /* width: 80%; */
  display: flex;
  flex-direction: row;
  gap: 40px;
  /* justify-content: space-evenly; */
}

.header-logo {
  font-weight: 500;
}
