.img-con {
  width: 100%;
  padding-bottom: 60px;
  background: var(
    --linear-gradient,
    linear-gradient(
      180deg,
      rgba(148, 82, 115, 0.7) 0%,
      rgba(171, 126, 119, 0.7) 100%
    )
  );
}

.img-title {
  border-bottom: 1px solid;
  padding: 5px;
  margin: 20px 0;
  color: #fff;
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.img-inner-con {
  /* margin-bottom: 100px; */
  display: grid;
  gap: 24px 24px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1200px) {
    gap: 14px 14px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1024px) {
    gap: 14px 14px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    gap: 14px 14px;
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 600px) {
    gap: 14px 14px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.photo {
  position: relative;
  background: #000;
  width: auto;
  aspect-ratio: 1;
  overflow: hidden;
}

.gray-bg {
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  /* flex 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-exp {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
