.location-con {
  width: 100%;
  /* height: 100%; */
  background: rgba(255, 255, 255, 0.9);
}

.location-title {
  color: #945273;
  font-family: "charter-itc";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.location-map {
  /* opacity: 0.5; */
  /* width: 100%;
  height: 100%; */
  max-width: 800px;
  width: 100%;
  aspect-ratio: 1.6;
}

.location-name {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: source-han-serif-korean, serif;
  font-style: normal;
  color: #945273;
}

.location-name-main {
  font-size: 23px;
}
.location-name-sub {
  font-size: 15px;
}
.time-name-sub {
  color: #242424;
  font-size: 15px;
}
.map-cover {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.location-right {
  margin: 40px 0;
  display: flex;
  justify-content: flex-end;
  /* font */
  color: #945273;
  font-family: "charter-itc";
}
