@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  background-color: #f1f1f1;
}

.main-container {
  position: relative;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  /* width: inherit; */
  height: inherit;
  /* max-width: 1200px; */
}

@media (min-width: 768px) {
  .main-container {
    width: calc(100% - 8rem);
  }
}

@media (min-width: 1440px) {
  .main-container {
    width: calc(100% - 12rem);
  }
}

@media (min-width: 1920px) {
  .main-container {
    width: 1800px;
  }
}

.scene {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  z-index: 1;
}

.scene::-webkit-scrollbar {
  display: none;
}

.line {
  width: 100%;
  position: absolute;
  font-family: "charter-itc";
  /* font-weight: bold; */
  color: #945273;
  /* width: inherit; */
  border-bottom: solid 1px #945273;
  z-index: 2;
}
