@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  background-color: #f1f1f1;
}

.main-container {
  width: calc(100% - 2rem);
  margin: 0 1rem;
  /* width: inherit; */
  height: inherit;
  /* max-width: 1200px; */
}

@media (min-width: 768px) {
  .main-container {
    width: calc(100% - 8rem);
  }
}

@media (min-width: 1440px) {
  .main-container {
    width: calc(100% - 12rem);
  }
}

.scene {
  position: absolute;
  width: inherit;
  height: inherit;
  /* background-color: #fff; */
  z-index: 1;
}

.line {
  font-family: "charter";
  /* font-weight: bold; */
  color: #945273;
  /* width: inherit; */
  border-bottom: solid 1px #945273;
}
