@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  background-color: #f1f1f1;
  /* position: relative; */
}
.scene {
  position: absolute;
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  z-index: 1;
  /* scroll-snap-type: y mandatory; */
  /* scroll-behavior: smooth; */
}

.scene::-webkit-scrollbar {
  display: none;
}

.-main {
  scroll-snap-align: start;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}

.-invitation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout-container {
  /* position: relative; */
  width: calc(100% - 2rem);
  margin: auto;
  /* margin: 0 1rem; */
  /* width: inherit; */
  /* max-width: 1200px; */
}

@media (min-width: 768px) {
  .layout-container {
    width: calc(100% - 8rem);
  }
}

@media (min-width: 1440px) {
  .layout-container {
    width: calc(100% - 12rem);
  }
}

@media (min-width: 1920px) {
  .layout-container {
    width: 1440px;
  }
}

.theme-container {
  width: calc(100% - 2rem);
  margin: auto;
}

@media (min-width: 768px) {
  .theme-container {
    width: calc(100% - 8rem);
  }
}

@media (min-width: 1440px) {
  .theme-container {
    width: calc(100% - 12rem);
  }
}

@media (min-width: 1920px) {
  .theme-container {
    width: 1440px;
  }
}
