.invitation-con {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.invitation-wrapper {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 120px;
}

.invitation-nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
  /* border-bottom: 1px solid #945273; */
}

.nav-selection {
  font-family: source-han-serif-korean, serif;
  font-style: normal;
  font-weight: 900;
  color: #945273;
  font-size: 20px;
}

.invitation-title {
  color: #945273;
  font-family: "charter-itc";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.invitation-left {
  max-width: 800px;
  display: flex;
  justify-content: center;
  /* line change */
  white-space: pre-wrap;
  /* line width */
  line-height: 40px;
  /* font */
  font-family: source-han-serif-korean, serif;
  font-style: normal;
  font-weight: 900;
  color: #945273;

  font-size: 20px;
}

.invitation-right {
  display: flex;
  justify-content: flex-end;

  /* 가운데 정렬하기 */
  /* justify-content: center; */

  /* font */
  color: #945273;
  font-family: "charter-itc";
  font-size: 20px;
}

@media (min-width: 390px) {
  .invitation-title {
    font-size: 48px;
  }
  .invitation-left {
    font-size: 15px;
    line-height: 30px;
  }
  .invitation-right {
    font-size: 15px;
  }
}

@media (min-width: 512px) {
  .invitation-title {
    font-size: 48px;
  }
  .invitation-left {
    font-size: 15px;
    line-height: 35px;
  }
  .invitation-right {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .invitation-title {
    font-size: 64px;
  }
  .invitation-left {
    font-size: 16px;
  }
  .invitation-right {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .invitation-title {
    font-size: 64px;
  }
  .invitation-left {
    font-size: 18px;
  }
}
